<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loozb.mapper.SysResourceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.loozb.model.SysResource">
		<result column="pid" property="pid" />
		<result column="pids" property="pids" />
		<result column="name" property="name" />
		<result column="identity" property="identity" />
		<result column="icon" property="icon" />
		<result column="url" property="url" />
		<result column="weight" property="weight" />
		<result column="menu_type" property="menuType" />
		<result column="has_permission" property="hasPermission" />
	</resultMap>

</mapper>
